:root {
  --color-light-grey: #ddd;
  --color-dark-grey: #1d1d1d;
  --color-mid-grey: #808080;
}

.App {
  text-align: center;
}

.medalsheader {
  text-align: left;
  color: var(--color-mid-grey);
  text-transform: uppercase;
}
.medalstable {
  color: var(--color-mid-grey);
}

.medalstable__country {
  font-weight: bold;
  text-align: left;
}

.medalstable__text {
  height: 1rem;
  vertical-align: middle;
  margin-right: 2rem;
}

.medal-icon {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.medal-icon--gold {
  background-color: gold;
}

.medal-icon--silver {
  background-color: silver;
}
.medal-icon--bronze {
  background-color: #CD7F32;
}

.flag {
  background-repeat: no-repeat;
  background-image: url('flags.png');
  display: inline-block;
  height: 17px;
  width: 28px;
  margin-right: 0.5rem; 
  vertical-align: middle;
}

.flag--AUT {
  background-position: 0px 0px;
}

.flag--BLR {
  background-position: 0px -17px;
}

.flag--CAN {
  background-position: 0px -34px;
}

.flag--CHN {
  background-position: 0px -51px;
}

.flag--FRA {
  background-position: 0px -68px;
}

.flag--GER {
  background-position: 0px -85px;
}

.flag--ITA {
  background-position: 0px -102px;
}

.flag--NED {
  background-position: 0px -119px;
}

.flag--NOR {
  background-position: 0px -136px;
}

.flag--RUS {
  background-position: 0px -153px;
}

.flag--SUI {
  background-position: 0px -170px;
}

.flag--SWE {
  background-position: 0px -187px;
}

.flag--USA {
  background-position: 0px -204px;
}

table {
  /* min-width: 80%; */
  border-collapse: collapse;
}

tbody {
  text-align: center;
  /* vertical-align: middle; */
}


th, td {
  padding: 0.25rem;
}

td {
  border-bottom: var(--color-light-grey) solid 1px;
}

th {
  border-bottom: var(--color-mid-grey) solid 2px;
  color: var(--color-mid-grey);
}

.sorted {
  border-top: var(--color-mid-grey) 2px solid;
}
